   /** formattazione margin, padding**/
*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
font-family:'Roboto Mono', monospace;
}

body{
background-color: #eaeaea;
height: 800px;
}
/** header**/
header{
background-color: white;
padding: 5px;
}

 header  img{
vertical-align: middle;
}

.logo{
display: inline-block;
vertical-align: middle;
}

/**main**/
.main{
width: 70%;
background-color: white;
margin: auto;
padding: 10px;
margin-top: 40px;
}
 /**button**/
.button{
margin-left: 50px;
width: 100px;
height: 30px;
background-color: #14aaf5;
color: white;
border-radius: 5px;
border: 2px solid #14aaf5;
}
.bottoni{
border-bottom: 2px solid #eaeaea;
padding:10px
}

.button2{
    width: 100px;
    height: 30px;
    background-color:white;
    color: #cdd3d8;
    border-radius: 5px;
    border: 2px solid #cdd3d8;
}
 /** fine button**/
.contenitore{
    width: 70%;
    height: 650px;
    background-color: white;
    margin: auto;
    margin-top:20px;
    border-radius: 10px;
}
   /**inizio task**/
.task{
margin-left: 50px;
font-size: 20px;
margin-top: 30px;
}

.task::before{
content: "▼";
}

/**prima sezione**/

.info{
width: 20px;
height: 20px;
background-color: white;
margin-left: 50px;
margin-top: 8px;
border-radius: 50%;
border: 2px solid green;
text-align: center;
line-height: 20px;
color: green;
font-size: 12px;
display: inline-block;
}

.newsletter{
display: inline-block;
}

.editorial{
background-color:#14aaf5 ;
color:white;
display: inline-block;
border-radius: 10px;
padding: 5px;
margin-top: 10px;
}
/** fine sezione**/
 /**seconda sezione**/
 .goals{
background-color: #ab5de6;
 }

 .cross{
color: red;
border-color: red;
 }

 .backgroundgreen{
background-color: green;
 }

 .orange{
background-color: orange;
 }
 /**fine seconda sezione**/

 /**inizio   terza  sezione**/

 .fucsia{
background-color: #ec4a9d;
 }

 .verde{
background-color: #a3d116;
 }
 